@tailwind base;
@tailwind components;
@tailwind utilities;
th {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

th:last-child {
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

td {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: rgb(225, 225, 225);
}

td:last-child {
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

a {
    color: #3b82f6!important;
}

a:hover {
    text-decoration: underline;
}